
box_A {

background: linear-gradient(to right, #1e5799 0%,blue 0%, red 100%);
display: none;

}


table {
    /*background-image: radial-gradient(farthest-corner at 600px 45px , #FF0000 0%, #0000FF 100%);*/



}
    /*background-image: none;*/
    /*give each td a id*/
    /*$('#name').position()*/
    /*computerNumber - 45, 46, 55, 56*/
    /*top-left = 45px by 45px computerNumber = 1/*
    /*top-right = 600 by 45  computerNumber = 10
    /*bottom-right = 600px, 600px computerNumber = 100*/
    /*bottom-left = 45px, 600px computerNumber = 91*/

body {
    width: 1280px;
    height: 750px;
	background-color: #FFF7BC;
	background: url('../images/stardust.png') repeat;
    color: white;
    font-family: 'Abel', sans-serif;
}

.container {
    top: 50%;
    left: 50%;
}

.button {
    width: 96%;
    margin: 30px auto 10px;
    text-align: center;
}

.button a {
    position: relative;
    text-decoration: none;
    color: #ecf0f1;
    background-color: #d35400;
    border: 3px solid #ecf0f1;
    border-radius: 23px;
    padding: 10px;
    margin: 35px auto;
}

aside {
    float: left;
    width: 300px;
    margin-left: 150px;
    margin-right: 150px;
}

aside h2 {
    text-align: center;
}

aside p {
    text-align: center;
}

hr {
    margin-top: 25px;
    border: 3px solid;
}

table {
	margin: 0 auto;
    float: left;
 /*   margin-top: 25px;
    margin-left: 225px;*/
    border: 10px solid white;
}

td {
    margin: 18px;
    padding: 18px;
    border: 1px solid white;
}

/* Class for .hover() */
.purple {
    background-color: #9b59b6;
}

#sampleHot {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: #c0392b;
    float: left;
    margin-left: 125px;
}

#sampleHot p {
    font-size: 14px;
}

#sampleCold {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: #2980b9;
    clear: both;
    margin-top: 75px;
    margin-left: 125px;
}

#sampleCold {
    font-size: 14px;
}

#sampleWin {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: #27ae60;
    margin-left: 125px;
}

#sampleWin {
    font-size: 14px;
}


p.wrapper {
    height: 100px;
    width: 100px;
}
