<div class="container">
  <h1>Please Login</h1>
  <form action='/login' method='GET'>
    <input type='submit' value='Login'>
  </form>
  <form action='/signup' method='GET'>
    <input type='submit' value='Sign Up'>
  </form>
</div>
